<!DOCTYPE HTML>
<html>
  <head>
    <title>Forest</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Forest</h1>
    <p>Current Time：<%= currentTime %></p>
  </body>
</html>
